# Exclude
#exclude Datasnakes/Manager/TODO.py

# Include the README file
include README.rst

# Include the requirements file
include requirements.txt

# Include the setup file
include setup.py

# Include license
include LICENSE

# Include Modules
recursive-include Datasnakes/Cookies/ *
recursive-include Datasnakes/Manager/index/ *

# Include docs
include Docs/docs/source/*.rst
include Docs/docs/source/Makefile
include Docs/docs/source/conf.py
include Docs/docs/source/convertdocs.py
include Docs/archive/*
include Docs/README.md

# Include tests
include Tests/*