# Exclude
exclude Manager/TODO.py

# Include the README file
include README.rst

# Include the requirements file
include requirements.txt

# Include the setup file
include setup.py

# Include Modules
recursive-include Cookies *
recursive-include Manager/index *

# Include docs
include Docs/*.rst
include Docs/Makefile
include Docs/conf.py
include Docs/convertdocs.py
include Docs/archive/*
include Docs/README.md