# Exclude
#exclude OrthoEvol/Manager/TODO.py

# Include the README file
include README.md

# Include the requirements file
include requirements.txt

# Include the setup file
include setup.py

# Include license
include LICENSE

# Include Modules
recursive-include OrthoEvol/Cookies *
recursive-include OrthoEvol/Manager/config *

# Include docs
include docs/docs/source/*.rst
include docs/docs/source/Makefile
include docs/docs/source/conf.py
include docs/README.md

# Include tests
include tests/*
